.navbar {
  height: 80px;
}

.playfair-display {

  font-family: "Playfair Display", serif;
  font-size: xx-large;
  font-weight: 400;
  font-style: normal;
}

.main-background {
  /* margin-top: 5%; */
  padding-top: 5%;
  padding-bottom: 6.5%;
  width: 100%;
  height: 100%;
  /* margin-top: 5%; */
  /* padding-bottom: 5px; */
  background-color: #f8faef;

}

.background {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90vh;
}

.background-appointment {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90vh;
  /* height: 100%; */
  padding-top: 5%;
  padding-bottom: 6.5%;
}

.glass-background {

  height: 700px;
  width: 600px;
  background: linear-gradient(135deg, rgba(232, 246, 246, 0.977), rgba(171, 223, 227, 0.834));
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.image-container {
  position: relative;
  /* text-align: center; */
  /* padding-right: 100px; */
  color: rgb(3, 3, 3);
}

.dashboard-name {
  position: absolute;
  top: 670px;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 3rem;
  font-weight: bolder;
  color: #0f3c53;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.doctor-details{
  height: 800px;
  width: 600px;
  background: linear-gradient(135deg, rgba(232, 246, 246, 0.977), rgba(171, 223, 227, 0.834));
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.admin-image {
  height: 900px;
}

.text-login {
  font-size: 50px;
  font-weight: 500;
  font-family: Arial, Helvetica, sans-serif;
  color: #000000;
  margin-top: -15%;
  padding-bottom: 10%;
}

.text-fields {
  /* height: 200px; */
  margin-bottom: 20px;
  font-size: 20px;
  font-weight: 500;
  font-family: Arial, Helvetica, sans-serif;
  color: #000000;
}

.list-heading {
  font-size: 30px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  color: #000000;
}


.button {
  width: 120%;
  /* height: 200%; */
  padding: 1.3em 3em;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: white;
  background-color: #0dafd7;
  border: none;
  border-radius: 45px;
  /* box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1); */
  /* box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37); */
  /* box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset; */
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2), 0 2px 4px rgba(0, 0, 0, 0.1) !important;
  transition: background-color 0.3s, box-shadow 0.3s, color 0.3s, transform 0.3s;
  cursor: pointer;
  outline: none;
}

.button:hover {
  background-color: #22d3ee;
  box-shadow: 0px 15px 20px rgba(12, 78, 84, 0.495);
  color: black;
  transform: translateY(-7px);
}

nav {
  background: linear-gradient(180deg, rgb(24, 132, 149), rgb(183, 219, 232));
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  /* border-radius: 20px; */
  /* border: 1px solid rgba(255, 255, 255, 0.18); */
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000; 
}

.navbtn {
  padding: .5em 1.5em;
  font-size: 18px;
  border: none;
  border-radius: 10px;
  transition: background-color 0.3s, box-shadow 0.3s, color 0.3s, transform 0.3s;
  cursor: pointer;
  outline: none;
}

.navbtn:hover {
  background-color: #22d3ee;
  box-shadow: 0px 15px 20px rgba(12, 78, 84, 0.495);
  color: #fff;
  transform: translateY(-2px);
}

.button:active {
  transform: translateY(-1px);
}

/* .navbtn {
  padding: .5em 1.5em;
  font-size: 18px;
  border: none;
  border-radius: 10px;
  transition: background-color 0.3s, box-shadow 0.3s, color 0.3s, transform 0.3s;
  cursor: pointer;
  outline: none;
}

.navbtn:hover {
  background-color: #22d3ee;
  box-shadow: 0px 15px 20px rgba(12, 78, 84, 0.495);
  color: #fff;
  transform: translateY(-2px);
} */

.background-table {
  background-image: linear-gradient(to right bottom, #ebf1fa, #d8f2ff, #bdf5ff, #9cf8ff, #7bfbff);
  min-height: 122vh;
}

table {
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
  font-size: 20px;
}

td {
  height: 60px;
}

.profile-btn {
  /* height: 50px; */
  padding: .5em 1.5em;
  font-size: 30px;
  border: none;
  border-radius: 10px;
  transition: background-color 0.3s, box-shadow 0.3s, color 0.3s, transform 0.3s;
  cursor: pointer;
  outline: none;

}

.login-cred {
  width: 600px;
  margin-top: -110px;
  font-size: 50px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  color: #000000;
}

.cnform {
  width: 1600px;
  margin-top: -70px;
  font-size: 50px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  color: #000000;
}

.profile-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 60vh;
  width: 100%;
}

.profile {
  width: 100%;
}

.dashboard-name-doctor {
  position: absolute;
  top: 785px;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 3rem;
  font-weight: bolder;
  color: #0f3c53;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.dashboard-name-receptionist {
  position: absolute;
  top: 663px;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 3rem;
  font-weight: bolder;
  color: #0f3c53;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.dashboard-name-patient {
  position: absolute;
  top: 755px;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 3rem;
  font-weight: bolder;
  color: #0f3c53;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.main-background-doctor {
  padding-top: 5%;
  padding-bottom: 0.5%;
  width: 100%;
  height: 100%;
}

.offcanvas-zoom-backdrop {
  zoom: 140%;
}

.user-card-full {
  overflow: hidden;
}

.card {
  /* height: 500px; */
  /* width: 1000px; */
  align-items: center;
  display: flex;
  justify-content: center;
  align-content: center;
  border-radius: 5px;
  -webkit-box-shadow: 0 1px 20px 0 rgba(69, 90, 100, 0.08);
  box-shadow: 0 1px 20px 0 rgba(69, 90, 100, 0.08);
  border: none;
  /* margin-left: -100px; */
  /* margin-bottom: 30px; */
}

.user-card-full .user-profile {
  border-radius: 5px 5px 5px 5px;
  /* height: 500px; */
}


.bg-c-lite-green {
  background: -webkit-gradient(linear, left top, right top, from(#f29263), to(#ee5a6f));
  background: linear-gradient(to right, #ee5a6f, #f29263);
  /* width: 1000px; */
}

.img-radius {
  border-radius: 5px;
}

.profile-name {
  font-size: 14px;
}

.card .card-block p {
  line-height: 25px;
}

.card-block {
  padding: 1.25rem;
}

.b-b-default {
  border-bottom: 1px solid #e0e0e0;
}

.p-b-5 {
  padding-bottom: 5px !important;
}

.card .card-block p {
  line-height: 25px;
}

.m-b-10 {
  margin-bottom: 10px;
}

.text-muted {
  color: #919aa3 !important;
}

.b-b-default {
  border-bottom: 1px solid #e0e0e0;
}

.f-w-600 {
  font-weight: 600;
}

.m-b-20 {
  margin-bottom: 20px;
}

.m-t-40 {
  margin-top: 20px;
}

.p-b-5 {
  padding-bottom: 5px !important;
}

.m-b-10 {
  margin-bottom: 10px;
}

.m-t-40 {
  margin-top: 20px;
}

.user-card-full .social-link li {
  display: inline-block;
  /* width: 1000px; */
}

.user-card-full .social-link li a {
  font-size: 20px;
  margin: 0 10px 0 0;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}


.profile-details {
  margin-bottom: -50px;
}

.loader {
  border: 16px solid #f3f3f3;
  border-top: 16px solid #3498db;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  animation: spin 2s linear infinite;
}


.loader::after {
  content: "";
  position: absolute;
  top: -5px;
  left: -5px;
  right: -5px;
  bottom: -5px;
  border-radius: 50%;
  box-shadow: inset 0px 0px 20px #3498db;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.modal-backdrop {
  zoom: 140%;
}